# Python
__pycache__/
*.pyc



# Environment
.env
venv/

# Spark
metastore_db/
spark-warehouse/

# Logs
*.log


# data (add all data keep only sample data )
data/*
!data/sample/
!data/sample/transactions_sample.csv